header {
  background: white;
  padding: 10px 10px;
  overflow: hidden;
}

header .logo {
  color: #fff;
  float: left;
  font-size: 32px;
  background-color: white;
  margin: auto;
}

.section {
  text-align: center;

}
.section img {
  width: 800px;
  height: 500px;
}

#Safe {
  position: relative;
  top: -230px;
  width: 375px;
  height: 375px;
  background: #ffffcc;
  font-size: 19px;
  font-family: comic sans ms;
}

.cta-button {
  margin: 10px;
  clear: both;
  float: right;
  height: auto;
  color: #043049;
  font-weight: 600;
  background-color: #a3c639; /* Green */
  border-radius: : 10px;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;


}


.Contents {
  position: relative;
  left:400px;
  top: -400px;
  text-align-last: auto;
  width: 675px;
  font-size: 20px;
  font-weight: bold;
  font-family: comic sans ms;
  text-align: justify;
}

footer {
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 350px;
  font-weight: bold;

}

a:hover {
  text-decoration: underline;
  background-color: #cccc00;
}

@media screen and (max-width:1080px) and (min-width: 980px){
  .Contents{
    width: 600px;
  }


}

@media screen and (max-width:980px) and (min-width: 768px){

  .Contents{
    float: left;
    position: relative;
    width: 450px;
  }
}

@media screen and (max-width: 768px){

  .Contents{
    float: left;
    position: relative;
    width: 250px;
  }
}

@media screen and (max-width: 480px){

}
